<%= search_form_for @search do |f| %>
  <%= f.condition_fields do |c| %> 
    <div class = "field">
      <%=c.attribute_fields do |a|%>
        <%=a.attribute_select %>
      <% end %>
    <%= c.predicate_select %>
    <%= c.value_fields do |v|%>
      <%= v.text_field :value %>
    <% end %>  
    </div>
  <% end %>
  <div class = "action"><%= f.submit "search" %></div>
<% end %>
<%= render 'form2' %>
